.login,
.register {
    &-container {

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-head {
        text-align: center;
    }


}

.lnk {
    text-decoration: none;
    color: #096bde !important;
}

.navbar {
    background-color: #4c0f78 !important;
    

    .btn {
        background-color: #340356 !important;
    }

    @media(max-width:762px) {
        .btn {
            width: 75px;

        }
    }
}

.pets {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.petsActive {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:  25px auto;
    width: 90%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


}

.petsTable {
    height: 80%;
    width: 100%;
    flex: 1;
    position: absolute;
    margin-top: 55px;
    
}
.uptadeModal{
    FormControl{
        margin-bottom: 25px!important;
    }
}